.project-descr {
  max-width: 900px;
  margin-top: 80px;
}

.project-feature {
  @include layout($desktop);
  @include container();
}

.project__picture {
  @include span(6);

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.project__features {
  @include span(6);
}

.project__content-feature {
  @extend p;
  color: $color-light;
}

.project__feature + .project__feature {
  margin-top: 30px;
}

.project__link {
  @include span(12);
  text-align: center;
  margin-top: 75px;
}

.project__btn {
  display: inline-block;
  width: 300px;
  font-family: $font-classic;
  font-weight: 500;
  background-color: #63d273;
  font-size: 22px;
  line-height: 50px;
  color: #fff;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #57c166;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 960px) {

  .project__picture {
    @include span(12);
  }

  .project__features {
    @include span(12);
    text-align: center;
    margin-top: 50px;
  }
}

@media screen and (max-width: 740px) {

  .project-descr {
    margin-top: 25px;
  }

  .project__feature + .project__feature {
    margin-top: 15px;
  }

  .project__btn {
    max-width: 150px;
    font-size: 16px;
    line-height: 40px;
  }
}
