<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      <header class="header">
        <h1 class="title title--project"><span>{{page.name}}</span></h1>
        <h2 class="subtitle">{{page.subject}}</h2>
        <p class="project-descr centered">{{ page.presentation }}</p>
      </header>

      <section class="section project-feature">
        <div class="project__picture">
          <img src="{{ site.url }}/{{page.image}}" alt="Project presentation"
          srcset="{{ site.url }}/{{page.image}} 1x ,
          {{ site.url }}/{{page.image-retina}} 2x">
        </div>
        <div class="project__features">
          {% for feature in page.features %}
          <div class="project__feature">
            <h3 class="project__name-feature">{{ feature.title }}</h3>
            <span class="project__content-feature">{{ feature.content }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="project__link">
          <a href="{{page.project-url}}" class="project__btn" target="_blank">
            Voir le projet
          </a>
        </div>
      </section>

    {% include footer.html %}

  </body>

</html>
